<%- include("partials/header"); %>

    <div class="container-item">
        <p><b>ID:</b><%= data.id %></p>
        <p><b>Title:</b><%= data.title %></p>
        <p><b>Author:</b><%= data.author %></p>
    </div>

<%- include("partials/footer"); %>

